<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.server.servlet.LoginServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SettingsServlet</servlet-name>
    <servlet-class>com.server.servlet.SettingsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SettingsServlet</servlet-name>
    <url-pattern>/SettingsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActivitiesServlet</servlet-name>
    <servlet-class>com.server.servlet.ActivitiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivitiesServlet</servlet-name>
    <url-pattern>/ActivitiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BoardcastServlet</servlet-name>
    <servlet-class>com.server.servlet.BoardcastServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardcastServlet</servlet-name>
    <url-pattern>/BoardcastServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClientPostServlet</servlet-name>
    <servlet-class>com.client.servlet.ClientPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientPostServlet</servlet-name>
    <url-pattern>/ClientPostServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ShareServlet</servlet-name>
    <servlet-class>com.client.servlet.ShareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShareServlet</servlet-name>
    <url-pattern>/ShareServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>IMSignupServlet</servlet-name>
    <servlet-class>com.client.servlet.IMSignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IMSignupServlet</servlet-name>
    <url-pattern>/IMSignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.server.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AtyDetailsServlet</servlet-name>
    <servlet-class>com.server.servlet.AtyDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtyDetailsServlet</servlet-name>
    <url-pattern>/AtyDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserDetailsServlet</servlet-name>
    <servlet-class>com.server.servlet.UserDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetailsServlet</servlet-name>
    <url-pattern>/UserDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserChangeStatusServlet</servlet-name>
    <servlet-class>com.server.servlet.UserChangeStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserChangeStatusServlet</servlet-name>
    <url-pattern>/UserChangeStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AtyChangeStatusServlet</servlet-name>
    <servlet-class>com.server.servlet.AtyChangeStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtyChangeStatusServlet</servlet-name>
    <url-pattern>/AtyChangeStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AtyCheckServlet</servlet-name>
    <servlet-class>com.server.servlet.AtyCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtyCheckServlet</servlet-name>
    <url-pattern>/AtyCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IconChangeServlet</servlet-name>
    <servlet-class>com.server.servlet.IconChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IconChangeServlet</servlet-name>
    <url-pattern>/IconChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PicPostServlet</servlet-name>
    <servlet-class>com.client.servlet.PicPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PicPostServlet</servlet-name>
    <url-pattern>/PicPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CtyDetailsServlet</servlet-name>
    <servlet-class>com.server.servlet.CtyDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CtyDetailsServlet</servlet-name>
    <url-pattern>/CtyDetailsServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <filter-class>com.server.filter.SetCharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>