h1, h2, h3, h4, div, span, img{

		font-family:微软雅黑;
		margin:0;
		padding: 0;
}

h1{
	margin: 10px;

}

span{
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 10px;
	margin-bottom: 10px;
}

div{
	margin: 5px;

}

hr{
	color:rgb(230, 230, 255);
	background-color:rgb(230, 230, 255);
	height:1px;
	line-height:1px;
	font-size:0;
	border:none;
}
/*special style*/
.fontbold{
	font-style: bolder;
}

/*detailed introduction div*/
.detailed{
	font-size: 0.7em;
	color: gray;
}

/*tags*/
.atyTag{
	padding: 2px;
	border-radius: 4px;
	background: #9BD1FA;
}


/*activity picture*/
.atyPic{
	margin-left: 1%;
	margin-right: 1%;
	width: 20%;
	height: 20%;
}

/*picture*/
.userIcon{
	width: 20px;
	height: 20px;
}

.logo{
	width: 40px;
	height: 40px;	
}

.little_logo{
	width: 20px;
	height: 20px;		
}
/*footer*/

.footer{
	margin: 0;
	padding: 10px;
	max-width: 100%;
	min-width: 100%;
	background-color: rgb(223, 226, 230);
	position: fixed;
	bottom: 0;

}

/*comment time, name , icon*/


/*share link*/

a:link {color:#000000;}		/* 鏈璁块棶鐨勯摼鎺� */
a:visited {color:#000000;}	/* 宸茶璁块棶鐨勯摼鎺� */
a:hover {color:#000000;}	/* 榧犳爣鎸囬拡绉诲姩鍒伴摼鎺ヤ笂 */
a:active {color:#000000;}	/* 姝ｅ湪琚偣鍑荤殑閾炬帴 */

.sharelink{
	margin-left: 60px;
	padding: 2px;
	border-radius: 2px;
	background: #9BD1FA;
	text-decoration:none;

	font-weight: bolder;
}